@import url(./__avatar/profile__avatar.css);
@import url(./__line1/profile__line1.css);
@import url(./__line2/profile__line2.css);
@import url(./__line2/profile__lines.css);
@import url(./__edit_button/profile__edit_button.css);
@import url(./__add_button/profile__add_button.css);
@import url(./__line1_container/profile__line1_container.css);
@import url(./__left/profile__left.css);
@import url(./__add_button/profile__add_button.css);

.profile {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding-bottom: 51px;
    max-width: 882px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 920px) {
    .profile {
        flex-direction: column;
    }
}
