.profile__line-two {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
    padding-top: 8px;
}

@media (max-width: 920px) {
    .profile__line-two {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 0;
    }
}
