@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 40px;
    max-width: 882px;
}

@media (max-width: 320px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
        padding-bottom: 32px;
       }
  }
  