@import url(./__item/elements__item.css);
@import url(./__photo/elements__photo.css);
@import url(./__caption/elements__caption.css);
@import url(./__text/elements__text.css);

.elements {
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 920px) {
    .elements {
        max-width: 582px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 582px) {
    .elements {
        max-width: 282px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
