.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/Close_Icon.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
