.elements__caption {
    display: flex;
    flex-direction: row;
    margin-left: 21px;
    margin-top: 25px;
    margin-bottom: 31px;
    margin-right: 21px;
    justify-content: space-between;
    align-items: center;
}
